:root {
  --colorTextForm: rgba(255, 255, 255, 0.38);
  --colorText: rgba(255, 255, 255, 0.9);
  --secondColorText: rgba(255, 255, 255, 0.78);
  --thirdColorText: rgba(255, 255, 255, 0.55);
  --colorAvailability: rgba(255, 165, 55, 0.55);
  --colorTextBrands: rgba(255, 255, 255, 0.8);
  --colorTextButton: #ffffff;
  /* ====================text========================= */
  --colorButton: #ffffff00;
  --сolorBgBrands: rgba(44, 53, 61, 0.2);
  --colorBgHover: rgba(40, 48, 54, 0.6);
  --colorBg: #1e252b;
  --colorBgInput: #283036;
  /* =====================bg========================== */
  --colorTextHover: #fdf5ff;
  --colorHover: #ff6e30;
  /* ==================hover===================== */
  --fontFamily: "Poppins", sans-serif;
  --secondFamily: "Roboto", sans-serif;
}

body {
  background-color: var(--colorBg);
  font-family: var(--fontFamily);
  font-weight: 500;
  font-size: 16px;
  color: var(--colorText);
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ================header================= */

.header {
  padding-top: 26px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
}

.menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.list-item:nth-child(2)::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 4px;
  background-image: url(../img/icon/arrow_down.svg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.list-item:hover {
  opacity: 0.8;
}

.button-acction {
  padding: 18px 24px;
  color: var(--secondColorText);
  font-weight: 600;
  background-color: var(--colorButton);
  border-radius: 8px;
}

.button-acction:hover {
  background-color: var(--colorHover);
  color: var(--colorTextHover);
  transition: 0.15s ease-in;
}

/* =============main================ */

.hero {
  background-image: url(../img/main/hero-illustration.webp);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 195px;
}

.hero-info {
  max-width: 600px;
}

.hero-title {
  padding-top: 104px;
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.hero-dot {
  color: var(--colorHover);
}

.hero-text {
  color: var(--thirdColorText);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 60px;
}

.hero-form {
  background-color: var(--colorBgInput);
  border-radius: 15px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

.form-input {
  color: var(--colorTextForm);
  width: 227px;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--colorButton);
  padding: 20px 0px 20px 0px;
  margin-right: 111px;
  margin-left: 13px;
}

.icon-form {
  padding-left: 18px;
}

.form-button {
  color: var(--colorTextButton);
  background-color: var(--colorHover);
  padding: 11px 35px;
  border-radius: 8px;
  font-weight: 600;
  margin-right: 11px;
  border: 1px solid var(--colorButton);
}

.form-button:hover {
  background-color: var(--colorButton);
  border: 1px solid var(--colorHover);
  transition: all 0.2s ease;
}

.webnetwork {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.webnetwork-link {
  padding: 11px;
  border-radius: 8px;
}

/* =====================tools======================= */

.tools-title {
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 33px;
}

.tools-subtitle {
  color: var(--thirdColorText);
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  margin: 0px auto 90px auto;
  width: 430px;
}

.tools-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

.tools-card {
  flex-basis: calc((100% - 50px) / 3);
  max-width: 390px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-bottom: 100px;
  border-radius: 15px;
  padding: 33px;
}

.tools-card:hover {
  transform: translate(0px, -20px);
  transition: transform 0.35s ease-in;
  backdrop-filter: blur(50px);
  background-color: rgba(40, 48, 54, 0.6);
  background-image: radial-gradient(
    circle at right top,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 118, 55, 0.2) 0%,
    rgba(0, 0, 0, 0) 20%
  );
}

.tool-name {
  color: var(--secondColorText);
  font-size: 24px;
  margin-bottom: 3px;
}

.tool-availability {
  color: var(--colorAvailability);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}

.tool-text {
  color: var(--thirdColorText);
  font-weight: 400;
  line-height: 1.87;
  margin-bottom: 30px;
}

.tool-card-acctions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.tool-input-acctions {
  display: flex;
  column-gap: 12px;
}

.tool-checkbox {
  background-color: #ffffff00;
  width: 42px;
  height: 42px;
  background-image: url(../img/icon/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  appearance: none;
  padding: 7px;
}

.tool-acction:nth-child(2) .tool-checkbox {
  background-image: url(../img/icon/add.svg);
  padding: 6px;
}

.tool-checkbox:nth-child(1):checked {
  background: #283036;
  background-image: url(../img/icon/like_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
}

.tool-link {
  color: var(--thirdColorText);
  font-weight: 600;
  padding: 9px 35px;
  background-color: var(--colorButton);
  border-radius: 8px;
}

.tool-link:hover {
  background-color: var(--colorHover);
  transition: 0.15s ease-in;
}

.tools-button {
  margin-bottom: 200px;
  text-align: center;
}

.tools-link {
  color: var(--colorHover);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 17px 38px;
  font-weight: 600;
}

.tools-link:hover {
  color: var(--colorTextButton);
  background-color: var(--colorHover);
  padding: 17px 38px;
  transition: all 0.3s ease;
}

/* =====================brands======================= */

.brands-container {
  margin-bottom: 200px;
}

.brands-container {
  backdrop-filter: blur(50px);
  background-color: rgba(44, 53, 61, 0.2);
  border-radius: 25px;
  background-image: radial-gradient(
    circle at left top,
    rgba(255, 72, 66, 0.24) 0%,
    rgba(255, 72, 66, 0.15) 4%,
    rgba(0, 0, 0, 0) 12%
  );
}

.brands-title {
  color: var(--colorTextBrands);
  font-size: 24px;
  padding-top: 55px;
  margin-bottom: 55px;
  text-align: center;
}

.brands-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 107px;
  padding-bottom: 56px;
}

/* =====================newcomer======================= */

.newcomer-container {
  display: flex;
  justify-content: center;
}

.newcomer {
  margin-bottom: 200px;
}

.newcomer-info {
  min-width: 427px;
  margin-right: 200px;
}

.newcomer-apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  row-gap: 42px;
}

.info-title {
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.info-text {
  color: var(--thirdColorText);
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 60px;
}

.info-button {
  color: var(--colorTextButton);
  background-color: var(--colorHover);
  font-size: 18px;
  padding: 13px 37px;
  border-radius: 8px;
  border: 1px solid var(--colorButton);
}

.info-button:hover {
  background-color: var(--colorButton);
  border: 1px solid var(--colorHover);
  transition: all 0.3s ease;
}

.apps-card {
  max-width: 290px;
  border-radius: 15px;
  padding: 28px 22px 28px 21px;
  transition: transform 0.35s ease-in;
  flex-basis: calc((100% - 48px) / 2);
}

.app-name {
  color: var(--secondColorText);
  font-size: 24px;
  margin-bottom: 3px;
}

.apps-card:hover {
  backdrop-filter: blur(50px);
  background-color: rgba(40, 48, 54, 0.6);
  transform: translate(0px, -18px);
  background-image: radial-gradient(
    circle at right top,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 118, 55, 0.2) 0%,
    rgba(0, 0, 0, 0) 20%
  );
}

.app-availability {
  color: var(--colorAvailability);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}

.app-text {
  color: var(--thirdColorText);
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  margin-bottom: 30px;
}

.app-card-acctions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-checkbox {
  display: flex;
  column-gap: 12px;
}

.app-checkbox {
  background-color: #ffffff00;
  width: 42px;
  height: 42px;
  background-image: url(../img/icon/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  appearance: none;
  padding: 7px;
}

.app-label:nth-child(2) .app-checkbox {
  background-image: url(../img/icon/add.svg);
}

.app-checkbox:nth-child(1):checked {
  background: #283036;
  background-image: url(../img/icon/like_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
}

.app-link {
  color: var(--thirdColorText);
  font-weight: 600;
  padding: 9px 35px;
  background-color: var(--colorButton);
  border-radius: 8px;
}

.app-link:hover {
  background-color: var(--colorHover);
  transition: 0.15s ease-in;
}

/* =====================teammate======================= */

.teammate-container {
  max-width: 850px;
  margin-bottom: 250px;
}

.teammate-info {
  display: flex;
  justify-content: space-between;
}

.teammate-card {
  display: inline-block;
  border: 1px solid var(--colorBgInput);
  border-radius: 8px;
  position: relative;
  top: 460px;
  left: 160px;
  backdrop-filter: blur(50px);
  background-color: rgba(40, 48, 54, 0.2);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: radial-gradient(
    circle at right bottom,
    rgba(29, 134, 195, 0.251) 0%,
    rgba(255, 118, 55, 0.101) 25%,
    rgba(0, 0, 0, 0) 40%
  );
}

.teammate-name {
  padding: 10px 22px 0px 23px;
  margin-bottom: 2px;
}

.teammate-role {
  padding-left: 23px;
  padding-bottom: 16px;
}

.teammate-name {
  color: var(--secondColorText);
  font-size: 26px;
  letter-spacing: 0.01em;
}

.teammate-role {
  color: var(--thirdColorText);
  font-weight: 400;
}

.teammate-photo {
  width: 400px;
  height: 490px;
}

.teammate-text {
  color: var(--thirdColorText);
  font-family: var(--secondFamily);
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.01em;
}

.about-teammate {
  display: flex;
  width: 400px;
  padding-top: 50px;
  padding-left: 50px;
  background-image: url(../img/icon/“.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

/* =====================join======================= */

.join-container {
  max-width: 555px;
  margin-bottom: 240px;
}

.join-title {
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 25px;
}

.join-text {
  color: var(--thirdColorText);
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 100px;
}

.join-form {
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorBgInput);
  border-radius: 15px;
}

.join-input {
  color: var(--colorTextForm);
  font-weight: 400;
  font-size: 14px;
  background-color: var(--colorButton);
  padding: 22px 0px 21px 24px;
}

.join-button {
  color: var(--colorTextButton);
  font-weight: 600;
  padding: 11px 35px;
  background-color: var(--colorHover);
  border-radius: 8px;
  margin-right: 12px;
  border: 1px solid var(--colorButton);
}

.join-button:hover {
  background-color: var(--colorButton);
  border: 1px solid var(--colorHover);
  transition: all 0.2s ease;
}

/* ===========================footer======================= */

.footer {
  padding-top: 70px;
  padding-bottom: 100px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.15);
}

.footer-container {
  display: flex;
  align-items: top;
}

.footer-info {
  max-width: 260px;
}

.logo-link {
  display: block;
  margin-bottom: 25px;
}

.footer-copyright {
  margin-bottom: 21px;
}

.footer-text {
  color: var(--thirdColorText);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.79;
}

.footer-contact {
  margin-left: 155px;
}

.contact-address {
  font-style: normal;
}

.footer-categories,
.footer-company {
  margin-left: 115px;
}

.contact-title,
.categories-title,
.company-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-item,
.categories-item,
.company-item {
  color: var(--thirdColorText);
  margin-bottom: 10px;
}
